# ============================================================
# Python
# ============================================================

__pycache__/
*.py[cod]
*$py.class


# ============================================================
# Ambiente virtual
# ============================================================

.venv/
venv/
env/


# ============================================================
# Build / distribuição
# ============================================================

build/
dist/
*.egg-info/


# ============================================================
# PyInstaller
# ============================================================

*.spec


# ============================================================
# IDE / Editor
# ============================================================

.vscode/
.idea/


# ============================================================
# Sistema operacional
# ============================================================

.DS_Store
Thumbs.db


# ============================================================
# Arquivos temporários
# ============================================================

*.log
*.tmp
*.bak